@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet');

:root {
    --fontFamily: 'Montserrat', sans-serif;
    --background: rgba(0, 0, 0, 0.55);
    --linkSelection: rgb(59, 59, 59);
    --infoHeadingColor: #ffffff;


    --pageBackgroundColor: #ffffff;
    --pageTextColorLight: #fff;
    --pageTextColorDark: rgba(0, 0, 0, 0.55);



    --pageLinkBackgroundColor:  rgba(0, 0, 0, 0.55);
}

footer {
    text-align: center;
    font-family: var(--fontFamily);
    font-size: 0.75rem;
    font-weight: 400;
}

#backToHome {
    width: 100%;
    font-family: var(--fontFamily);
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    line-height: 1.25;
    display: block;
}

/* Page Specific CSS */
body {
    background-color: var(--pageBackgroundColor);
    color: var(--pageTextColorDark);
}

#userPhoto{
    width: 200px;
    height: 200px;
    display: block;
    margin: 5px auto;
}

#title {
    word-wrap: break-word;
    width: 100%;
    color: black;
    font-family: var(--fontFamily);
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    line-height: 1.25;
    display: block;
    margin: unset;
}

#links {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 0px auto;
}

.desc {
    display: block;
    font-family: var(--fontFamily);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    width: auto;
    text-align: center;
    text-decoration: none;
}

.link, .info {
    margin-top: 10px;
    display: block;
    margin-bottom: 20px;
    padding: 17px;
    background-color: var(--pageLinkBackgroundColor);
    color: var(--pageTextColorLight);
    font-family: var(--fontFamily);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: all .25s ease-in-out;
}

.link:hover{
    background-color: var(--linkSelection);
}

#map{
    min-height: 200px;
}